@mixin flex-space-between {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@mixin reset-list-style {
  list-style: none;
  padding: 0;
  margin: 0;
}

@mixin media($point) {
  @media (max-width: $point) {
    @content;
  }
}
