@use '@/styles/utils/mixins';
@use '@/styles/utils/media';
@use '@/styles/utils/variables';

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  background: variables.$color-primary;
  padding-left: 97px;
  padding-right: 97px;
  transition: border-radius 0.3s ease;

  @include mixins.media(media.$bp-md) {
    padding-left: 67px;
    padding-right: 67px;
  }

  @include mixins.media(media.$bp-sm) {
    padding-left: 30px;
    padding-right: 30px;
  }

  &_scrolled {
    border-radius: 0 0 20px 20px;
  }

  &_menu_open {
    border-bottom: 1px solid #cbcbcb;
  }

  &_inner {
    margin: 0 auto;
    max-width: 1246px;
    display: flex;
    gap: 66px;
    justify-content: start;
    align-items: center;

    @include mixins.media(media.$bp-md) {
      gap: 40px;
    }
  }
}

.spacer {
  height: var(--header-height, 120px);
}

.logo {
  @include mixins.media(media.$bp-md) {
    width: 38px;
  }

  @include mixins.media(media.$bp-xs) {
    display: none;
  }
}

.logo_mobile {
  width: 144px;
  display: none;

  @include mixins.media(media.$bp-xs) {
    display: block;
  }
}
